/tool/Psychetron/Psychetron/obj
/tool/Psychetron/.vs
/tool/Psychetron/Psychetron/bin
/twin/runtime
/twin/output
/twin/source/assembly
twin/Newtonsoft.Json.dll
twin/Psychetron.deps.json
twin/Psychetron.dll
twin/Psychetron.exe
twin/Psychetron.runtimeconfig.json
twin/config.json
twin/config.json
